
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase localhost/nomass/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . localhost/nomass/index.php [L]
</IfModule>

# END WordPress